body {
    background-color: #f5f5dc;
    color: blue;

}

#About {
    font-family: Matemasie, sans-serif;
    margin: 100px 150px 50px;
    background-color: rgba(243, 244, 244, 0.97);
    padding: 50px;
}

#Experience {
    text-align: center;
    padding: 50px;
    border: dotted;
    margin-right: 350px;
    margin-left: 350px;
}

#Experience div {
    background-color: #f9f9f9;
    border-left: 4px solid darkblue;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}


#Experience p {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 3rem; 
    font-weight: bold; 
    color: navy; 
}

h2 {
    font-size: 2.5rem; 
    font-weight: 600; 
    color: darkblue; 
}

h3 {
    font-size: 2rem; 
    font-weight: 500; 
    color: teal; 
}

.name {
    font-size: 4rem;
    font-weight: 800;
    color: darkslateblue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.name img {
    height: 300px;
    width: auto;
}

.logo img {
    width: 60px;  
    height: auto;
    margin-right: 10px; 
}
